#exampleInputEmail1{
  margin: auto;
  width: 75%;
}

.signuptext{
  color:black;
}


.contactText{
  color:black;
}

.btn-lower{
  color: white;
  border:1px solid;
}

.btn-lower:hover{
  color:#fff;
  background-color:#666666;
  border-color:#666666;
}

.submit{
  background-color:#cccccc;
  padding: 15px 45px;
  font-size: 11px;
  color:black;
}

.submit:hover{
  background-color:#666666;
  color:white;
}

.submit:focus { outline-style: none; }


